<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.sun.mapper.TDeptMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.sun.model.TDept" >
    <id column="DEPT_ID" property="deptId" jdbcType="BIGINT" />
    <result column="PARENT_ID" property="parentId" jdbcType="BIGINT" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="ORDER_NUM" property="orderNum" jdbcType="DOUBLE" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="selectAlls" resultType="com.aaa.sun.model.Dict" parameterType="HashMap">
    select * from t_dept
    <where>
      1=1
      <if test="deptId != null and deptId != ''">
        and DEPT_ID like '%${deptId}%'
      </if>
      <if test="parentId != null and parentId != ''">
        and PARENT_ID like  '%${parentId}%'
      </if>

      <if test="deptName != null and deptName != ''">
        and DEPT_NAME like '%${deptName}%'
      </if>

      <if test="orderNum != null and orderNum != ''">
        and ORDER_NUM like '%${orderNum}%'
      </if>
      <if test="createTime != null and createTime != ''">
        and CREATE_TIME like  '%${createTime}%'
      </if>

      <if test="modifyTime != null and modifyTime != ''">
        and MODIFY_TIME like '%${modifyTime}%'
      </if>
    </where>
  </select>
</mapper>